@{
    ViewData["Title"] = "Home Page";
}

<div class="justify-content-center">

    <h1 class="display-4">Welcome</h1>
    <p class="text-justify">I created a simple application, with it it is possible to insert new products, update, edit and delete. For information about me, click on the link with my name.</p>
  
    <b >About App</b>
    <p class="text-justify">The website will be online the first time you run the application. When clicking on Suppliers or Products or Register, the application will request the migrations that serve to load the database for it to work. When clicking, wait until the information Migrations Applied appears, refresh the page, make a new registration, and test the application.</p>
    <p class="text-justify"><a href="https://docs.microsoft.com/aspnet/core">Application built in ASP.NET Core 3.1</a>.</p>

</div>
