@{
    ViewData["Title"] = "Thalisson Figueredo Pereira";
}



<div class="container">

<p class="text-justify"> <b>Dear Hiring Professional,</b></p>
<p class="text-justify">Please accept this letter as an expression of my interest in the .NET Software Developer position. I am a highly motivated and progress-focused .NET Developer with a long-standing background in this industry. With a track record of initiative and dependability, I have devised strategic initiatives which I believe will prove valuable to company.</p>

<p class="text-justify">Throughout the  course of my career, I have perfected my knowledge software applications and developing specifications and requirements abilities. I am a capable and consistent problem-solver skilled at prioritizing and managing projects with proficiency.</p>

<p class="text-justify">In my previous role, I contributed motivation, teamwork, and solutions deployment toward team efforts and business improvements. I am progressive minded and in tune with new developments in my field. I have proven to be effective and collaborative with strong critical thinking talents. I enjoy collective brainstorming sessions which all me to coordinate activities to achieve a common goal. </p>

<p class="text-justify">Thank you for your consideration.</p>
<p class="text-justify">Sincerely,</p>
<p class="text-justify"><b><i>THALISSON PEREIRA</b></i></p>

</div>

